@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>We here at Bootstore wish to give our customers the books they wish to have.</p>
<p>Fantasy is one of the main categories that we manage, because fantasy is the heart of the human experience</p>
<p>Books are integral to the progress of mankind.</p>
<p>A word from the bookchain owner:</p>
<video width="100%" height="500" controls>
    <source src="~/videos/video.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>